.Body1{
    background-image:url("Bilder/Background1.png") ;
    background-size: cover ;
}
.Kodelas1 img{
    height: 20vh;
    display: flex;
    margin-left: 50vw;
    margin-top: 35vh;
}
.Las{
    height: 40vh;
    width: 15vw;
    margin-left: 42vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center
}
.Las button{
height: 4vw;
width: 4vw;
border: solid;
}
.Input_kode{
    font-size: 2rem;
    display: flex;
    justify-content: center
}
.Hele_Input{
    border: solid;
    background-color: gray;
}
.Pil{
    font-size:2rem ;
    margin:0;
    background-color: aliceblue;
    border: solid;
    border-radius: 2vh;
}
.Pil2{
    font-size: 2rem;
}
.Pil3{
    font-size: 2rem;
}
.Body2{
    background-image: url("Bilder/background3.jpg");
}
.Body3{
    background-image: url("Bilder/Background4.png");
    background-size: cover;
}
.Drop_zone{
    width: 30vw;
    height: 60vh;
}
.Body9{
    background-image: url('Bilder/Background5.png');
    background-size: cover;
}
.Body5{
    background-image: url('Bilder/Background6.png');
    background-size: cover;
}
.HuleInn{
    display: block;
    width: 17vh;
    height: 20vh;
    margin-top: 80vh;
    margin-left: 15vw;
}
.Body6{
    background-image: url('Bilder/Background7.png');
    background-size: cover;
}
.Escape2{
    display: block;
    height: 90vh;

}

@keyframes TNT{
    from{padding-left: 100vh ;
    rotate: 0deg ;}
    to{padding-left: 0;
    rotate: -180deg;}
}

#TNT{
    animation-name: TNT;
    animation-duration: 2s;
}